*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins',sans-serif;
} 
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


    
}
.nav-links{
    display:flex;
    gap:20px;

}
.nav-links a{
    text-decoration: none;
    color:black
}
.nav-links a:hover{
    text-decoration: underline;
}

/* side navigation */
.side-nav{
    display: flex;
flex-direction: column;
background-color:#1D232C;
color: white;
width: 40%;
position:fixed;
top:0;
left:0;
height: 100%;
display: block;
left:-40%;
transition:2s;


}
.side-nav-link{
    text-align: center;
    margin: 10px;
}
.side-nav-link a{
    text-decoration: none;
    color: white;

}
.side-nav-link:hover{
    text-decoration: underline;
} 
#side-close{
    text-align: end;
    padding:10px;
    cursor: pointer;
}

#main-hero{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    
   
   
   
}
.hero-filter{
    text-align: center;
    margin-top: 20px;
}
.options{
    padding:10px;
   
    margin-top: 20px;
}
.option1,.option2,.option3{
    padding: 10px;
}
.hero-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap:30px;
    margin-top: 20px;
  
   
}
.image1{
    
   
    height:300px;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: transform 2s ease;
}
.image1:hover{
    transform: scale(1.1);
}
.image1 h2{
text-align: center
}
.image1 img{
    height:250px;
    width:100%;}
    #footer{
        background-color: #1D231D;
    }
    .footer-hero{
        display: flex;
       
        color: white;
        height:200px;
        margin-top: 20px;
        
    }
    .hero1,.hero2{
    margin-top:100px;
    }
    
    
    .hero2 i{
    color: black;
    border: 1px solid black;
    padding:10px;
    border-radius:50px;
    
    height:5px;
    width: 5px;
    
    
    background-color:white;
    }
/* }footer */
    




/* media quary */

/* menubar */
@media screen and (max-width:700px) {
    .nav-links{
        display: none;
    }
}
@media screen and (min-width:700px) {
    #menu-bar{
display: none;
    }
}